/* General body css */
body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    
}
h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    
}

/* Container of banner and nav bar */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Banner-image img{
    width: 100%;
    height: auto;
    
}
/* Navigation Section */
#navigation{
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rbga(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 60px;
    padding: 20px;
    /* margin-top: 10px; */
}
.nav{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: #0077be;
}


/* About section */
.About_image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
} 
#About{
    margin: 2rem;
    max-width: 1020px;;
}
/* Beach Section */
#Beach{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 10px;
}
#beach-name{
    flex: 2;
    padding: 12px;
    border: 2px solid #add8e6;
    border-radius: 25px;
    outline: none;

}
.beachSearch{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#search-btn, #forecast-btn, #reset-btn{
    flex: 1;
    padding: 12px 20px;
    background-color: #0077be;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.3s;
    margin-top: 10px;
}
#search-btn:hover, #forecast-btn:hover, #reset-btn:hover {
    background-color: #5a6268;
    
}
/* Weather Section */
.placeholder-img{
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
    border: 1px solid gray;
}
#Weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}
.localWeather{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
ul{
background: rgba(255,255,255,0.7);  
}
.weatherCardCurrent, ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0.7);
    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px black;
    min-width: 200px;
    text-align: center;
}
.weatherCard{
    list-style-type: none;
    background: white;
    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px black;
    min-width: 200px;
    text-align: center;
}

/* waiting spinner */
.loader{
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
/* spinner animation */
@keyframes spin{
    0%{transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.loading-text {
    text-align:center;
    font-family: "Fredoka", sans-serif;
    color: #555;
}
/* Responsive Tablets and small screens */
@media (max-width: 680px){
    #navigation{
        gap: 20px;
        padding: 15px;
    }
    .nav{
        font-size: 1.2rem;
    }
    #Beach {
        width: 90%;
        padding: 30px 15px;
    }
    .About_image img{
        height: 200px;
    }
    .Banner-image img{
        max-height: 250px;
        
    }
    
}
/* Responsive for mobile phones */
@media (max-width: 480px) {
    .localWeather{
        flex-direction: column;
        align-items: center;
    }
    .weatherCard, .weatherCardCurrent {
        width: 100%;
        max-width: 300px;
    }
    #beach-name{
        width: 100%;
    }

}